/*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * VARIABLES.................Variables
 * BASE......................Reset & Base elements
 * COMPONENTS................Components
 * VENDOR....................3rd party styles
 *
 */

/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
$brand-color: #e54530;
$primary-color: #31B863;
$background-color: #E8E9EB;
$transition: all 0.2s ease-out;
$box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);

/*------------------------------------*\
    #BASE
\*------------------------------------*/

html,
body {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.app * {
  box-sizing: border-box;
}

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/**
* Header
*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 100vw;
  background: white;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  z-index: 1000;
  transition: $transition;
  backface-visibility: hidden;
  box-shadow: $box-shadow;
  @media (min-width: 992px) {
    font-size: 1rem;
    top: 8px;
    left: 8px;
    width: 40vw;
    border-radius: 2px;
  }
  &__back {
    margin: 0 10px;
    display: flex;
    align-items: center;
    width: 80px;
    svg {
      path {
        fill: lightgrey;
      }
    }
  }
  &__title {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    flex: 1;
  }
  &__save {
    margin: 0 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: lightgrey;
    cursor: pointer;
    width: 80px;
    span {
      padding: 0 10px;
    }
    svg {
      path {
        fill: #d9c999;
      }
    }
  }
}

/**
* Cards & nav buttons
*/

.cards {
  position: absolute;
  left: 0;
  bottom: 10px;
  padding-left: 5px;
  //width: 100vw;
  height: 110px;
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
  .card {
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin: 0 2px;
    flex-shrink: 0;
    width: calc(100vw - 14px); // 5px left + 4px margins + 5px right
    transform: translateX(0);
    transition: $transition;
    cursor: pointer;
    box-shadow: $box-shadow;
    @media (min-width: 768px) {
      width: calc((100vw - 10px) / 2 - 4px); // (vw - 10px)/ no of cards - margins
    }
    @media (min-width: 992px) {
      width: calc((100vw - 10px) / 3 - 4px);
    }
    @media (min-width: 1200px) {
      width: calc((100vw - 10px) / 4 - 4px);
    }
    // Lift up card when active or on hover but only on desktop
    @media (hover: hover) {
      &:hover {
        margin-bottom: 8px; //not possible to use translate here
        & .card__content__title {
          color: $brand-color;
        }
      }
      &.is-active {
        margin-bottom: 8px; //not possible to use translate here
        & .card__content__title {
          color: $primary-color
        }
      }
    }
    &__img {
      position: relative;
      height: 80px;
      width: 80px;
      overflow: hidden;
      border-radius: 3px;
      margin: 0 20px;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        transform: translate(-50%, -50%);
      }
    }
    &__content {
      height: 80px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__title {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0;
      }
      &__route {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        color: grey;
      }
      &__size {
        font-size: 0.9rem;
        font-weight: 500;
        margin: 0;
        color: grey;
        flex: 1;
        padding-top: 18px;
        white-space: nowrap;
        span {
          font-weight: 700;
          padding-right: 10px;
        }
      }
    }
    &__price {
      white-space: nowrap;
      padding: 0 1.8rem;
    }
  }
  &__push {
    position: fixed;
    bottom: 41px;
    height: 35px;
    width: 35px;
    background: white;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    img {
      height: 15px;
      width: auto;
    }
    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
    &--left {
      left: -10px;
    }
    &--right {
      right: -10px;
    }
  }
}

/*------------------------------------*\
    #VENDOR
\*------------------------------------*/

/**
* Loaders.css
*/

@import '../node_modules/loaders.css/src/animations/ball-pulse-sync.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: $background-color;
}
